body{
    margin-top:0;
    margin-left:2%;
    margin-right: 2%;
    
    padding:0;
}

/* header */
nav ul li, #logo {
    display:inline;
}

ul {
    display:inline;
}
 
header nav{
    display: inline-flex;
    justify-content: center;align-items: center;

}

header {
    display: flex; 
    justify-content: space-evenly;
    margin:0;
}

li {
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

#logo {
    font-family: 'Cinzel', serif;
}

/* gallery */
img {
    width: 30vw;
    height:25em;
    margin:2px;
    border:5px solid transparent;
}

a {
    text-decoration: none;
    color:black;  
    margin:0.5rem;
    padding: 0.5em;
    border-radius: 3%;
  

}



a:hover {
    background-color: rgba(178, 209, 228 , 0.5);
    transition: 1s;
    
}

img:hover {
    border: 5px solid rgb(178, 209, 228 );
    transition: 1.5s;
    

}

/* media queries */

@media(min-width:100px){
    img {
        width:80%;
        margin:7%;
        border:10px solid transparent;
    }

    img:hover {
        border: 10px solid rgb(178, 209, 228 );
    }
    
    nav ul {
        display:none;
    }

    #logo {
        margin: 0 auto;
    }

    nav img#hamburger{
        display: inline;
        width:20px;
        height:20px;
        border:none;
    }
    nav img#hamburger:hover{
        border:none;
    }
}

@media(min-width:680px){
    img {
        width:45%;
        margin:0 auto;
        margin-left: 1%;
        
    }
    header {
        margin-bottom:3%;
        margin-top: 2%;
    }

}

@media(min-width:1200px){
    img{
        width: 28vw;
        margin:0 auto;
    }

    header nav img#hamburger{
        display:none;
    }

    nav ul {
        display: initial;
    }
}